.DS_Store
.project
.classpath
.settings/
.gradle/
.settings/
gradle/
gradlew
gradlew.bat
bin/
build/
eclipse/
.settings/org.eclipse.jdt.core.prefs
out/
Minestrappolation-2.ipr
Minestrappolation-2.iml
Minestrappolation-2.iws